.deck-container {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

.deck-fill {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.deck-img {
    width: 8em;
}
.deck-img-flipped{
    width: 8em;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.five-card {
    width: 8em;
    margin: auto;
    padding: 10px;

}

.five-card-middle {
    display: flex;
}

.five-card-container {
    width: fit-content;
    margin: auto;
    
}

.layout-container {
    width: 100%;
    z-index: 1;
}
.layout-hidden {
    display: none;
}

.position-explanation {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: darkslategray;
    width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
  }

.five-card:hover .position-explanation {
    display: block;

}

.deck-left{
   display: none;
}

fieldset {
    border: none;
}

.form-container{
    margin: 2em;
    width: fit-content;
}

.reading-notes{
    width: 300px;
    height: 100px;
}

.note-form{
    text-align: center;
    width: fit-content;
}

.submitButton{
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    transition-duration: 0.6s;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
  }
  .submitButton:hover {
    background-color: rgb(141, 106, 17);
    color: white;
  }

  .title{
      text-align: center;
  }

  .reading-list-detail{
      display: flex;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;
      padding: 15px;
      width: 65%;
      background: rgb(255, 255, 255, 0.3);
  }
  .readingList-detail-container{
      width: 65%;
  }
  .reading-list-detail:hover{
      cursor: pointer;
  }

  .reading-name{
      margin-right: 15px;
  }

  .user-reading-container{
      display: flex;
  }
