.deck-container {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

.deck-fill {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.deck-img {
    width: 8em;
}

.five-card {
    width: 8em;
    margin: auto;
}

.five-card-middle {
    display: flex;
}

.five-card-container {
    width: fit-content;
    margin: auto;
}

.layout-container {
    width: 100%;
}


