.form-button{
    display: flex;
}

#save-icon {
    position: absolute;
    padding: 2px;
    margin-left: 2px;
    color: black
}
#save-icon:hover{
    cursor: pointer;
}
#user-search{
    text-align: center;
}

.searchUser-container{
    display: flex;
    flex-direction: column;
}
.userName-container{
    display: flex;
    margin: 10px;
}

.username{
    margin-right: 10px;
    margin-top: 5px
}

.username:hover{
    cursor: pointer;
}

.follow-btn{
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    /* transition-duration: 0.6s; */
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
}
.follow-btn:hover {
    background-color: rgb(141, 106, 17);
    color: white;
    cursor: pointer;
}