.card-img-flipped {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 15em;
}

.card-img  {
    width: 15em;
}

.card-div {
    margin: 10px 0;
}

.card-explanation {
    margin-top: 15px;
}

.home-container{
    display: flex;
    height: 100vh
}

.card-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    margin: auto;
   
}